[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
langchain = "*"
pinecone-client = "*"
python-dotenv = "*"
pandas = "*"
flask = "*"
gunicorn = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.9"
