<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NN3P8H5');</script>
    <!-- End Google Tag Manager -->
    
    <title>The AI Race</title>
    <link rel="icon" href="static/images/favicon.png" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NN3P8H5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
        <!-- <img src="/static/images/header.png" alt="Description of the image" class="header"> -->
        <br>
        <br>
        <br>
        <br>
        <div class="form-container">
            <form action="/" method="post">
                <input type="text" name="question" placeholder="Ask your question about AI news" required>
                <br><br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="example-container">
            <h2>Example Prompts</h2>
            <div class="examples">
                <div>
                    <button>
                        <!-- <span class="first-box"></span> -->
                        <span>"What is Elon Musk's stance on AI?"</span>
                    </button>
                </div>
                <div>
                    <button>
                        <!-- <span class="first-box"></span> -->
                        <span>"Tell me about AI regulation"</span>
                    </button>
                </div>
                <div>
                    <button>
                        <!-- <span class="first-box"></span> -->
                        <span>"Who is Yann Lecun?"</span>
                    </button>
                </div>
            </div>
        </div>
        

        <br><br>
        <!-- <div id="data"> -->
        <div class="answer-box">
            <h3>{{question}}</h3>
            <h3>{{answer}}</h3>
        </div>
    </div>
</body>
</html>
